<hr>

<!-- FullCalendar -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js"></script>
<script>
    // calendar functions
    function getEvents() {
        $.ajax({
            url: "{% url 'd2api:get_events' %}",
            type: "POST",
            headers: {
                'X-CSRFTOKEN': "{{ csrf_token }}"
            },
            success: renderCalendar
        });
    }

    function renderCalendar(data) {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: data.result
        });
        calendar.render();
    }

    document.addEventListener('DOMContentLoaded', getEvents);
</script>
<div id='calendar'></div>
<!-- end of FullCalendar -->

<hr>

<!-- Bungie.Net API -->
<fieldset>
    <legend>Manifest</legend>
    <button onclick="getManifest();">Get Manifest</button>
    <button onclick="getDefinition('class');">Get DestinyClassDefinition</button>
    <button onclick="getDefinition('stat');">Get DestinyStatDefinition</button>
    <button onclick="getDefinition('inventory item');">Get DestinyInventoryItemDefinition</button>
    <button onclick="getDefinition('vendor');">Get DestinyVendorDefinition</button>
</fieldset>
<fieldset>
    <legend>Authentication</legend>
    <button onclick="getAuth();">Get Authorization</button>
    <button onclick="fetchToken();">Fetch Token</button>
    <button disabled="disabled">Refresh Token</button>
</fieldset>
<fieldset>
    <legend>API</legend>
    <button onclick="getVendorData();">Get Vendor Data</button>
    <button onclick="getLimitedTimeVendorData();">Get Limited Time Vendor Data</button>
</fieldset>
<fieldset>
    <legend>Maintenance</legend>
    <button onclick="updateItem(0)">Update Titan item</button>
    <button onclick="updateItem(1)">Update Hunter item</button>
    <button onclick="updateItem(2)">Update Warlock item</button>
</fieldset>
<fieldset>
    <legend>Datascience</legend>
    <button onclick="predictSalesItem(0);">Predict Titan SalesItem recommendation</button>
    <button onclick="predictSalesItem(1);">Predict Hunter SalesItem recommendation</button>
    <button onclick="predictSalesItem(2);">Predict Warlock SalesItem recommendation</button>
</fieldset>


<script>
    // manifest functions
    function getManifest() { $.ajax("{% url 'd2api:get_manifest' %}"); }
    function getDefinition(param) {
        $.ajax({
            url: "{% url 'd2api:get_definition' %}",
            type: "POST",
            headers: {
                'X-CSRFTOKEN': "{{ csrf_token }}"
            },
            data: JSON.stringify({
                'param': param
            }),
        });
    }

    // authentication functions
    let accessToken = "";

    function getAuth() {
        $.ajax("{% url 'd2api:get_auth' %}"
        ).done(function (data) {
            location.href = data['auth_url'];
        }).fail(function (e) {
            console.log(e);
        });
    }

    function fetchToken() {
        $.ajax({
            url: "{% url 'd2api:fetch_token' %}",
            type: "post",
            headers: {
                'X-CSRFTOKEN': "{{ csrf_token }}"
            },
            data: JSON.stringify({
                'authRes': location.search
            }),
        }).done(function (data) {
            accessToken = data['access_token'];
        }).fail(function (e) {
            console.log(e);
        });
    }

    // API functions
    function getVendorData() { $.ajax("{% url 'd2api:get_vendor_data' %}"); }
    function getLimitedTimeVendorData() { $.ajax("{% url 'd2api:get_limited_time_vendor_data' %}"); }

    // Maintenance functions
    function updateItem(classType) {
        $.ajax({
            url: "{% url 'dbapp:update_items' %}",
            type: "POST",
            headers: {
                'X-CSRFTOKEN': "{{ csrf_token }}"
            },
            data: JSON.stringify({
                'classType': classType
            }),
        });
    }

    // Datascience functions
    function predictSalesItem(classType) {
        $.ajax({
            url: "{% url 'd2api:predict_item' %}",
            type: "POST",
            headers: {
                'X-CSRFTOKEN': "{{ csrf_token }}"
            },
            data: JSON.stringify({
                'classType': classType
            }),
        });
    }
</script>
<!-- end of Bungie.Net API -->
