{% extends 'd2api/base.html' %}

{% block title %}DESTINY 2 - TAKE A LOOK{% endblock title %}

{% load static %}
{% block style %}
{% endblock style %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script></script>
{% endblock script %}

{% block body %}
<h1>DESTINY 2 - TAKE A LOOK</h1>

<table>
    <tr>
        <td></td>
        <td>Item name</td>
        <td>Vendor</td>
        <td>Class</td>
        <td>Sales date</td>
        <td>Mobility</td>
        <td>Resilience</td>
        <td>Recovery</td>
        <td>Discipline</td>
        <td>Intellect</td>
        <td>Strength</td>
    </tr>
</table>
{% endblock body %}